.product-3{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-3 .center{
    width: 85%;
    height: auto;
}
.product-3 .center .our{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
    display: flex;
    justify-content: left;
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.product-3 .center .center-c{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.product-3 .center .center-c .item{
    width: 670px;
    height: 191px;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 17px;
    margin-bottom: 15px;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border-radius: 8px;
    background-color: #BEF3C0;
}
.product-3 .center .center-c .item .item-2{
    width: 60px;
    height: 100%;
    padding-top: 32px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.product-3 .center .center-c .item .item-2 h6{
    width: 55px;
    height: 58px;
    font-size: 48px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.product-3 .center .center-c .item .item-2 h5{
    width: 33px;
    height: 19px;
    font-size: 17px;
    margin-left: 3px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.product-3 .center .center-c .item .item-3{
    width: 390px;
    height: 100%;
    padding-top: 40px;
    box-sizing: border-box;
}
.product-3 .center .center-c .item .item-3 h6{
    width: 123px;
    height: 19px;
    margin-bottom: 8px;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.product-3 .center .center-c .item .item-3 p{
    width: 381px;
    height: 85px;
    font-weight: bold;
    font-size: 28px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.product-3 .center .center-c .item .item-4{
    width: 60px;
    height: 100%;
    padding-top: 18px;
    box-sizing: border-box;
}

